{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Website</title>
    <link rel="stylesheet"  href="{% static 'css/main.css' %}">
  </head>
  <body>
    <div class="header">
        <ul>
            <li><a href="{% url 'fruit-list' %}">Home</a></li>
            {% comment %} <li><a href="{% url 'login' %}">Login</a></li> {% endcomment %}
            {% comment %} <li><a href="{% url 'register' %}">Register</a></li> {% endcomment %}
        </ul>
    </div>
</body>
</html>
